pkgbase = gnosis-mcp
	pkgdesc = Zero-config MCP server for searchable documentation (SQLite default, PostgreSQL optional)
	pkgver = 0.11.3
	pkgrel = 1
	url = https://github.com/nicholasglazer/gnosis-mcp
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python>=3.11
	depends = python-mcp>=1.20
	depends = python-aiosqlite>=0.20
	optdepends = python-asyncpg: PostgreSQL backend
	optdepends = python-onnxruntime: local ONNX embeddings
	optdepends = python-tokenizers: local ONNX embeddings
	optdepends = python-numpy: local ONNX embeddings
	optdepends = python-httpx: web crawling
	optdepends = python-trafilatura: web crawling
	source = gnosis-mcp-0.11.3.tar.gz::https://files.pythonhosted.org/packages/source/g/gnosis-mcp/gnosis_mcp-0.11.3.tar.gz
	sha256sums = 0f2158623f69f906ac2c17fa06ea61348e4bc5ee65bed1386eabd09154388473

pkgname = gnosis-mcp
