pkgbase = gnosis-mcp
	pkgdesc = Zero-config MCP server for searchable documentation (SQLite default, PostgreSQL optional)
	pkgver = 0.17.1
	pkgrel = 1
	url = https://github.com/nicholasglazer/gnosis-mcp
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python>=3.11
	depends = python-mcp>=1.20
	depends = python-aiosqlite>=0.20
	optdepends = python-asyncpg: PostgreSQL backend
	optdepends = python-onnxruntime: local ONNX embeddings
	optdepends = python-tokenizers: local ONNX embeddings
	optdepends = python-numpy: local ONNX embeddings
	optdepends = python-httpx: web crawling
	optdepends = python-trafilatura: web crawling
	source = gnosis-mcp-0.17.1.tar.gz::https://files.pythonhosted.org/packages/source/g/gnosis-mcp/gnosis_mcp-0.17.1.tar.gz
	sha256sums = bb88f842817ed23196d12de5c427c5adf10e76bb177a7e755db0b7d8c443869e

pkgname = gnosis-mcp
